<section style="margin: 0 auto; width: 60%;">
  <div class="card text-center">
    <div class="card-header">
      {{ test.title }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ test.description }}</h5>
      <p
        class="card-text text-justify"
        [innerHTML]="sanitize(outputContent)"
        typeAction
        (keyup)="reRenderContent($event)"
      ></p>

      <a href="#" class="btn btn-sm btn-danger">Abort</a>
    </div>
    <div class="card-footer text-muted">
      {{ test.author }}
    </div>
  </div>
</section>
